@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-container {
  position: relative;
  height: 15px;
  background-color: #ffffff;
}

.completed-bar {
  position: absolute;
  height: 100%;
  background-color: #000000;
  border-radius: 999px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #000000;
  border-radius: 999px;
}

.black-circle {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  background-color: #000000; /* Black Circle */
}

@layer components {
  .button-white-rounded {
    @apply 
      text-black
      bg-white
      border-2
      border-black
      focus:outline-none
      hover:bg-gray-100
      focus:ring-4
      focus:ring-gray-100
      font-medium
      rounded-xl
      text-xl
      px-5
      py-1
      me-2
      mb-2
  }

  .button-dark-rounded {
    @apply
    text-white
    bg-gray-800
    hover:bg-gray-900
    focus:outline-none
    focus:ring-4
    focus:ring-gray-300
    font-bold
    rounded-xl
    text-3xl
    pt-1.5
    pb-2
    py-1
    me-2
    mb-2

  }
}
